.outer{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(211, 22, 22, 0.2),rgba(56, 103, 198, 0.2));
    display: flex;
    justify-content: center;
    z-index: 50;
    padding-top: 70px;
    
}
.overlay-inner{
    margin-top: 50px;
    background: white;
    width: 700px;
    height: 350px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
    margin-top: 50px;
}
.overlay-inner .close{
    position: absolute;
    top:1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}
.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.login-div{
    /* border:2px solid green; */
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: auto;
    height:300px;
    align-items:center;
}
.login-div button{
    width: 50%;
    margin: auto;
}
.info h1,.login-div h1{
    color:orangered;
}
.login-div p{
    color:navy;
    font-size: x-small;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.overlay-inner .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: green;
}
.overlay-inner .inner-box h4,.inner-box h6{
    color: rgb(29, 29, 114);
}
.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 200px;
    border-radius: 5px;
    background-color: #194d6d;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}
.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}

span{
    font-size: smaller;
    font-weight: 300;
}