/* Animation zoomIn */
@keyframes zoomIn{
  0%{
     transform: scale(0);
     opacity: 0;
  }
  100%{
    transform: scale(1);
     opacity: 1;
  }
}


.container {
  background-image: url("https://pi-ltsp.net/images/desktop-background.png");
  height: 100vh;
  padding-top: 120px;
  /* background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% ); */
  
}
.container>div{
  margin: auto;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s, 2s;
}
.container h1{
  font-size: 2.5rem;
  color: #ff0084;
  margin-top: 5rem;
  margin-bottom: -6rem;
  text-align: center;
}
.container h1 span{
  color:#fff;
  font-weight: 600;
}
.container img{
  width: 40%;
  margin: 10px auto;
  height: 250px;
}
.navbar {
  /* background:#fff; */
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  color: white;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}
.navbar > div {
  margin-left: 25px;
  flex-wrap: wrap;
}

.navbar > div a,
.navbar > div > p {
  font-weight: 900;
  font-size: larger;
}
.login img{
  width:40px;
  border-radius:50%;
}
.login span{
  font-size: larger;
  cursor: pointer;
  font-weight: 900;
}
.form-container {
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.ewRfMU-58Iustx-NiDinuAHaEo&pid=Api&P=0&h=180");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  height:100vh;
}

.form-container > div {
  margin: auto;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s, 2s;
}
.form-container h1 {
  color: #ff0084;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  
}
form {
  width: 60%;
  margin: auto;
}
.form-container > div input,
select {
  margin-bottom: 20px;
  padding: 5px 20px;
}

.form-container div img {
  width: 80%;
  height: 400px;
}

.table-container {
  background-image: url("../assets/DWallpaper.jpeg");
  /* background-image: linear-gradient(45deg,#141E30, #243B55); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
    height: 100vh;
}

.table-container > div {
  margin: 50px auto;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s, 2s;
}

table {
  width: 100%;
  margin: auto;
}
th {
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}
.table-container>div a:hover{
  box-shadow:0 0 10px white;
  padding: 5px 10px;
  border-radius:10px;
  color:orangered;
  transition: 800ms linear; 
  transform: scale(1.1);
}
.button-div{
  width: 70%;
  margin: auto;
}
.table-container>div table tr:hover{
  transition: 800ms linear; 
  /* transform: scale(1.1);
  background-color: #fff; */
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}
.button-div>button{
  /* padding: 10px 15px; */
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 10px;
  background:#fff;
}
.button-div>button:active{
  background:#ff0084;
}

.notfound{
  width: 100%;
  height: 100%;

}
.notfound>img{
  width: 100%;
  height: 100%;
}

/* @media only screen and (max-width:800px){
  .container h1{
    size: .1rem;
    margin: .2rem;
  }
} */